html
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
}


/* Custom IDS */
#bodyContainer
{
    margin: 0;
}

#map 
{
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
}

/* Containere */

#searchBarContainer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#bottomContainer
{
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 5%;
}

#sideBarContainer
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px;
    width: 20%;    
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10%;
}

#settingsContainer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9);
    display: none;
}

/* Form Elements */
button
{
    position: relative;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button:active 
{
    background-color: #8bcc8e; /* Green */
    cursor: grab;
}

.btnDel
{
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #af4c4c;
}

.btnDel:active
{
    background-color: #cc8b8b;
    cursor: grab;
}

#btnAddTransport
{
    width: 55%;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

input
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-style: oblique;
}

#inputTransportId
{
    height: 5%;
    width: 40%;
    border-radius: 30px;
    padding: 3px;
}

select
{
    position: relative;
    width: 30%;
    height: 100%;
    margin: auto;
    float: right;
    margin-bottom: 0;
}


.textInfoStyle
{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-style: oblique;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10%;
    margin: 1px;
    display: inline-block;
    padding: 2px;
}

/*SettingsContainer Elements*/

#settingsContainer #headerContainer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    margin: 0;
    background: #333333;
    
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-style: oblique;
}

#settingsContainer #txtHeader
{
    position: relative;
    display: inline;
    width: 100%;
    height: 100%;
    color: white;
    margin: auto;
    text-align: center;
}

#settingsContainer #btnClose
{
    position: relative;
    height: 100%;
    color: white;
    background: red;
    text-align: center;
    margin: 0;
    float: right;
}