html
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
}


/* Custom IDS */
#bodyContainer
{
    margin: 0;
}

#map 
{
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
}



/* Form Elements */
button
{
    position: absolute;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover 
{
    background-color: #8bcc8e; /* Green */
    cursor: grab;
}

.btnDel
{
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #af4c4c; /* Green */
}

.btnDel:hover
{
    background-color: #cc8b8b; /* Green */
    cursor: grab;
}

#btnAddTransport
{
    height: 5%;
    width: 55%;
    top: 5%;
    right: 1%;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

input
{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-style: oblique;
}

#inputTransportId
{
    height: 5%;
    width: 40%;
    top: 5%;
    left: 1%;
    border-radius: 10px;
    padding: 2px;
}

#chkMapFollow
{
    left: 1%;
    bottom: 10%;
    width: 10%;
    height: 10%;
}

#chkMapTraffic
{
    left: 1%;
    bottom: 16%;
    width: 10%;
    height: 10%;
}

select
{
    position: absolute;
    height: 5%;
    width: 30%;
}

#selectRoute
{
    bottom: 1%;
    left: 29%;
}

#selectTransport
{
    bottom: 1%;
    left: 60%;
}

