html
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
}

button
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}

button:hover {
    background-color: #8bcc8e; /* Green */
    cursor: grab;
    
}
#headerContainer
{
    margin: 0;
    width: 100%;
    height: 20%;
    background: #e60000;
}

#TitleText
{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}

#bodyContainer
{
    margin: 0;
}

.centerContainer
{
    width: 50%;
    margin: auto;
    margin-top: 5px;
}
#map 
{
    height: 500px;
    width: 50%;
    margin: auto;
}

.infoContainer
{
    background: #252525;
    margin: auto;
    color: white;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

.InfoText
{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

#infoConsole
{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
}